body {
    background-color: rgb(249, 251, 252);
    padding: 10px;
    margin: 0px;
}

#canvas {
    border: 1px solid red;
    margin-left: 380px;
}

div.inputs {
    position: absolute;
    top: 200px;
    left: 30px;
    padding: 20px;
    border: 2px solid black;
}

#bt1 {
    background-color: rgb(67, 10, 143);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px 10px 85px;
    cursor: pointer;
}

#head1 {
    color: #f2f4f7;
    margin-left: 15px;
    background-color: rgb(115, 72, 184);
    border-style: inset;
}